.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #f4f4f4;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.h1__uXp1Y {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  min-width: 0;
}
.h1__qPhA {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  min-width: 0;
}
.svg__flUAt {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 40px;
  height: 40px;
}
.nav:global(.__wab_instance) {
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 100000;
}
.section1Parent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom-style: none;
  border-bottom-width: 1px;
  background: #f4f4f4;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.section1Inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 10px;
  padding-bottom: 50px;
  background: none;
  min-width: 0;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1Inner {
    padding-top: 28px;
    padding-bottom: 45px;
    border-right-color: #d3d3d3;
    border-left-color: #d3d3d3;
    max-width: 85%;
  }
}
.freeBox__bUdm0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 45px;
  padding-right: 45px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bUdm0 {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    padding: 0px;
  }
}
.freeBox__tTAk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 290px;
  height: 415px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  margin-right: 45px;
  background: #f4f4f4;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tTAk {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
.img__vwd2I {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 150px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  border-bottom: 1px solid #d3d3d3;
}
.img__vwd2I > picture > img {
  object-fit: cover;
}
.freeBox__arap5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 15px;
}
.h212 {
  height: auto;
  font-size: 12.5px;
  color: #272727;
  text-align: left;
  font-family: var(--plasmic-font-geologica);
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
  margin-bottom: 15px;
}
.h213 {
  height: auto;
  font-size: 21px;
  color: #272727;
  text-align: left;
  font-family: var(--plasmic-font-geologica);
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
  margin-bottom: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h213 {
    font-size: 19px;
  }
}
.h214 {
  height: auto;
  font-size: 14px;
  color: #272727;
  text-align: left;
  font-family: var(--plasmic-font-geologica);
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
  margin-bottom: 0px;
}
.freeBox__mMwdF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 290px;
  height: 415px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  margin-right: 45px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mMwdF {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
.img___6Ti66 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 150px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  border-bottom: 1px solid #d3d3d3;
}
.img___6Ti66 > picture > img {
  object-fit: cover;
}
.freeBox__xhDtJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 15px;
}
.h215 {
  height: auto;
  font-size: 12.5px;
  color: #272727;
  text-align: left;
  font-family: var(--plasmic-font-geologica);
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
  margin-bottom: 15px;
}
.h216 {
  height: auto;
  font-size: 21px;
  color: #272727;
  text-align: left;
  font-family: var(--plasmic-font-geologica);
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
  margin-bottom: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h216 {
    font-size: 19px;
  }
}
.h217 {
  height: auto;
  font-size: 14px;
  color: #272727;
  text-align: left;
  font-family: var(--plasmic-font-geologica);
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
  margin-bottom: 0px;
}
.freeBox___77AhX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 290px;
  height: 415px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  margin-right: 0px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___77AhX {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
.img__p5Cdc {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 150px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  border-bottom: 1px solid #d3d3d3;
}
.img__p5Cdc > picture > img {
  object-fit: cover;
}
.freeBox__fThB8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 15px;
}
.h218 {
  height: auto;
  font-size: 12.5px;
  color: #272727;
  text-align: left;
  font-family: var(--plasmic-font-geologica);
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
  margin-bottom: 15px;
}
.h219 {
  height: auto;
  font-size: 21px;
  color: #272727;
  text-align: left;
  font-family: var(--plasmic-font-geologica);
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
  margin-bottom: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h219 {
    font-size: 19px;
  }
}
.h2110 {
  height: auto;
  font-size: 14px;
  color: #272727;
  text-align: left;
  font-family: var(--plasmic-font-geologica);
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
  margin-bottom: 0px;
}
.freeBox__skye9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__skye9 {
    margin-bottom: 10px;
  }
}
.freeBox__i04N4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 9.2%;
  height: 1px;
  justify-content: flex-start;
  align-items: center;
  background: #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i04N4 {
    width: 5%;
  }
}
.svg__uy6H2 {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 1em;
  margin: 0px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__uy6H2 {
    margin-bottom: 0px;
  }
}
.freeBox__fbs9Y {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 1px;
  justify-content: flex-start;
  align-items: center;
  background: #d3d3d3;
  width: 81%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fbs9Y {
    width: 100%;
    min-width: 0;
  }
}
.svg__wrr1P {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 1em;
  margin: 0px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__wrr1P {
    margin-bottom: 0px;
    margin-left: 10px;
  }
}
.freeBox__guRdP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 9.2%;
  height: 1px;
  justify-content: flex-start;
  align-items: center;
  background: #d3d3d3;
  flex-shrink: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__guRdP {
    width: 5%;
  }
}
.shooters {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f4f4f4;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.svg__uXNq {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 14px;
  flex-shrink: 0;
}
.svg__vWc38 {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 14px;
  margin-left: -150px;
  flex-shrink: 0;
}
.svg__p31Te {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 14px;
  margin-left: 400px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__p31Te {
    margin-left: 280px;
  }
}
.svg__bHpkF {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 14px;
  margin-left: 550px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__bHpkF {
    margin-left: 200px;
  }
}
.svg__uMdFx {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 14px;
  margin-left: -400px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__uMdFx {
    margin-left: -200px;
  }
}
.svg__ot1Uu {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 14px;
  margin-left: -550px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ot1Uu {
    margin-left: -280px;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
}
.carouselSelectedItems:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.carouselBtnFunction {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 0px;
  height: 0px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.blogAnimation:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
