.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #e5e5e5;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.appLayout:global(.__wab_instance) {
  position: relative;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__uVsqc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.repeatingCard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background:
    linear-gradient(0deg, #121212 0%, #636363 100%),
    url("/plasmic/ad_buy/images/groupPng.png") 0% 0% / cover;
  margin-right: 30px;
  height: 190px;
  flex-shrink: 0;
  border-radius: 14px;
  padding: 27px 23px;
}
.freeBox__i8F9F {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
}
.svg__yZiv3 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
  height: 1em;
  display: none;
}
.freeBox__bouaP {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
}
.svg__pxZdP {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  width: 45px;
  color: #ffffff;
  flex-shrink: 0;
  height: 1em;
}
.freeBox__tyxbt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__a9H6F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 21px;
  color: #ffffff;
  font-family: var(--plasmic-font-geologica);
  font-weight: 400;
  min-width: 0;
}
.freeBox__xf3Ru {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___5VvWw {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 0px;
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 0;
}
.text___97BpH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 7.5px;
  color: #ffffff;
  font-weight: 300;
  font-family: var(--plasmic-font-geologica);
  min-width: 0;
}
.text__ojG80 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: #ffffff;
  font-weight: 300;
  font-family: var(--plasmic-font-geologica);
  min-width: 0;
  display: none;
}
.freeBox__upccb {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 0px;
  flex-shrink: 1;
  margin-right: 0px;
  min-width: 0;
}
.text__oew8R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 9px;
  color: #ffffff;
  font-weight: 300;
  text-align: left;
  font-family: var(--plasmic-font-geologica);
  min-width: 0;
}
.text__ql65B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  color: #ffffff;
  font-weight: 300;
  text-align: left;
  font-family: var(--plasmic-font-geologica);
  min-width: 0;
}
.freeBox__kzh68 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 0px;
  flex-shrink: 0;
  margin-right: 0px;
  flex-grow: 0;
}
.text__zJMzJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  color: #ffffff;
  font-weight: 300;
  text-align: left;
  font-family: var(--plasmic-font-geologica);
  margin-right: 10px;
  min-width: 0;
}
.svg__sTQiV {
  object-fit: cover;
  max-width: 100%;
  color: #ffb800;
  margin-bottom: 2px;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.svg___3LtVl {
  object-fit: cover;
  max-width: 100%;
  color: #ffb800;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin: 0px 0px 2px;
}
.hoverCard {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  background: #1c1c1ce6;
  min-width: 0;
  min-height: 0;
  border-radius: 14px;
  padding: 27px 23px;
}
.svg___1OrnV {
  object-fit: cover;
  max-width: 100%;
  color: #aa2121;
  height: 18px;
  margin-right: 5px;
}
.text__tmCi4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-family: var(--plasmic-font-geologica);
  font-size: 14.5px;
  color: #aa2121;
}
.hoverCard2 {
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 190px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  flex-shrink: 0;
  display: none;
  border-radius: 14px;
  padding: 27px 23px;
  border-width: 0.5px;
  border-style: solid;
}
.svg___7EnXr {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 18px;
  margin-right: 5px;
}
.text__z1LDk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-family: var(--plasmic-font-geologica);
  font-size: 13px;
  color: #000000;
  margin-right: 0px;
}
.freeBox__fVyrE {
  animation: none;
  flex-direction: column;
  position: relative;
  width: 19px;
  height: 19px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #404040;
  flex-shrink: 0;
  display: none;
  border-radius: 3px;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fVyrE {
    animation: none;
    display: none;
  }
}
.svg__ySqyM {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 12px;
  width: 12px;
  flex-shrink: 0;
}
.text__r3JXy {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #a2a2a2;
  font-size: 14.5px;
  font-weight: 400;
  margin-right: 0px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__r3JXy {
    animation: none;
    font-size: 13px;
  }
}
.freeBox__qlkZg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100px;
  height: 50px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  border-radius: 5px;
  padding: 8px;
}
.text__t4QXm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
