.appContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: none;
  overflow: auto;
  position: relative;
  min-width: 0;
  border-radius: 15px;
  border: 1px solid #d3d3d3;
}
.empty {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 0;
  min-width: 0;
}
.innerTable3 {
  display: flex;
  flex-direction: column;
  position: sticky;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.campaignHeader3 {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: none;
  background: none;
  left: 0px;
  top: 0px;
  z-index: 10;
  position: sticky;
  border-bottom-style: none;
  border-bottom-width: 1px;
  padding-top: 4px;
  padding-bottom: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .campaignHeader3 {
    animation: none;
  }
}
.freeBox__ylAnC {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 115px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-left-style: none;
  border-left-width: 1px;
  border-right-style: none;
  border-right-width: 1px;
  flex-shrink: 0;
  padding: 8px 16px;
}
.svg__gVvAs {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
  width: 14px;
  flex-shrink: 0;
  display: none;
}
.text__rH6Bw {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__c7L7 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 280px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.svg__ex4Vo {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
  display: none;
}
.text__k8Cqe {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___1UXs4 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.svg__yGzTw {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
  display: none;
}
.text__kn6L4 {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__ma3Rf {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 24px 8px 70px;
}
.svg__hzVa8 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
  display: none;
}
.text__psmZy {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___7Ro2Y {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.svg__xz6th {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
  display: none;
}
.text__fzqF8 {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___4PwLf {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.svg__nda7Q {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
  display: none;
}
.text__hLweR {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__csrD {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.svg__scQaT {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
}
.text___05OVe {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.emptyParent3 {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  border-top: 1px none #d3d3d3;
}
.halfOpacitygradient3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox___6WN58 {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1200px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  overflow: visible;
  min-width: 0;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px none #d3d3d3;
}
.freeBox___185L {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 115px;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 8px 16px;
}
.toggle__yGmTt:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.freeBox__fmEgu {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 280px;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.freeBox___7WSw {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__uZ34N {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14.5px;
  text-transform: capitalize;
}
.text__dLrIr {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.text__cwjqr {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14.5px;
  text-transform: capitalize;
  min-width: 0;
}
.svg___7TD {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: #535353;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 10px;
  display: none;
}
.freeBox__qmghD {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.freeBox__b25Zz {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox___7LsVn {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__uIJz {
  animation: none;
  width: auto;
  height: auto;
  max-width: 85px;
  font-weight: 500;
  font-size: 14.5px;
  flex-shrink: 0;
  padding-right: 0px;
}
.freeBox__tUnCa {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #eeeeee;
  margin-left: 10px;
  flex-shrink: 1;
  border-radius: 5px;
  padding: 2px 8px;
}
.text__eaSDt {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
}
.text__qbEfG {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 300;
  min-width: 0;
  display: none;
}
.svg___0Sr9V {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: #535353;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 10px;
  display: none;
}
.freeBox__gxsjy {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 70px;
}
.freeBox__nCgdW {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__jlUao {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14.5px;
  min-width: 0;
}
.text__qGcFu {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 300;
  min-width: 0;
}
.svg__idaUb {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: #535353;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 10px;
  display: none;
}
.freeBox__jopDj {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.freeBox__pHFm7 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__bkbbF {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14.5px;
  min-width: 0;
}
.text___58HtF {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 0px;
  min-width: 0;
  display: none;
}
.svg__qrMe {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: #535353;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 10px;
  display: none;
}
.freeBox___0ZmRk {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.freeBox__eNd3E {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__dDeGb {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14.5px;
  min-width: 0;
}
.text__u3Sgk {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 300;
  min-width: 0;
  display: none;
}
.svg__bdPfr {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: #535353;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 10px;
  display: none;
}
.freeBox__iHmT {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.freeBox__vulDd {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__pjf2I {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14.5px;
  min-width: 0;
}
.text__mqk9 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 300;
  min-width: 0;
  display: none;
}
.svg__rDhxn {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: #535353;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 10px;
  display: none;
}
.freeBox__pl7P2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 999999;
  min-width: 0;
}
.freeBox__pcAvn {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 165px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  margin-top: 15px;
  flex-shrink: 0;
  border-radius: 10px;
  border-width: 1px;
  border-color: #d3d3d3;
}
.img__plMos {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 0%;
  width: 100%;
  height: 165px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-width: 0;
  flex-shrink: 0;
}
.img__plMos > picture > img {
  object-fit: cover;
  object-position: 50% 0%;
}
.text__iRvt {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 18px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: 15px;
}
.text__cRndr {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 40%;
  font-weight: 400;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: 5px;
  margin-bottom: 15px;
}
.freeBox__tcIul {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #000000;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 16px;
  border: 1px solid #f0f0f0;
}
.text__eel5K {
  animation: none;
  width: auto;
  height: auto;
  font-weight: 400;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-right: 8px;
}
.freeBox___3QlvP {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 19px;
  height: 19px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #404040;
  flex-shrink: 0;
  border-radius: 3px;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
}
.text__lXc5 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #a2a2a2;
  font-size: 14.5px;
  font-weight: 400;
  margin-right: 0px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.filled {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 0;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .filled {
    left: auto;
    top: auto;
  }
}
.innerTable4 {
  display: flex;
  flex-direction: column;
  position: sticky;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.campaignHeader4 {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: none;
  background: none;
  left: 0px;
  top: 0px;
  z-index: 10;
  position: sticky;
  border-bottom-style: none;
  border-bottom-width: 1px;
  padding-top: 4px;
  padding-bottom: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .campaignHeader4 {
    animation: none;
  }
}
.freeBox___0HkVu {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 115px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-left-style: none;
  border-left-width: 1px;
  border-right-style: none;
  border-right-width: 1px;
  flex-shrink: 0;
  padding: 8px 16px;
}
.svg__oQjqA {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
  width: 14px;
  flex-shrink: 0;
  display: none;
}
.text__vn6Ek {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___4DGC {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 280px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.svg__zLjde {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
  display: none;
}
.text__vdoRo {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__hgCrd {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.svg__jhdAb {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
  display: none;
}
.text__oOf0V {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__bV4X {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 24px 8px 70px;
}
.svg___7HJzX {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
  display: none;
}
.text__xiiUw {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__bNllT {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.svg__jrWJ {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
  display: none;
}
.text___3Nmsn {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__d7Un0 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.svg___6QpYg {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
  display: none;
}
.text__lEmuJ {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__hvm8B {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.svg__jq0U {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
}
.text__blTrl {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.emptyParent4 {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  border-top: 1px none #d3d3d3;
}
.halfOpacitygradient4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__g92YG {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1200px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  overflow: visible;
  min-width: 0;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px none #d3d3d3;
}
.freeBox__f7KTd {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 115px;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 8px 16px;
}
.toggle__h1Ut1:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.freeBox__aDLr1 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 280px;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.freeBox__pj6Vx {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__awGaw {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14.5px;
  text-transform: capitalize;
}
.text___5Uyuj {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.text__mbQue {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14.5px;
  text-transform: capitalize;
  min-width: 0;
}
.svg__dMu9V {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: #535353;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 10px;
  display: none;
}
.freeBox__u57Nc {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.freeBox__qmIou {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox___0SSet {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__o5My1 {
  animation: none;
  width: auto;
  height: auto;
  max-width: 85px;
  font-weight: 500;
  font-size: 14.5px;
  flex-shrink: 0;
  padding-right: 0px;
}
.freeBox__si4Bh {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #eeeeee;
  margin-left: 10px;
  flex-shrink: 1;
  border-radius: 5px;
  padding: 2px 8px;
}
.text___1I6Xz {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
}
.text__mUy1Y {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 300;
  min-width: 0;
  display: none;
}
.svg__dm1Lu {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: #535353;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 10px;
  display: none;
}
.freeBox___3Pd9P {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 70px;
}
.freeBox__vsMcj {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__u1Xoe {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14.5px;
  min-width: 0;
}
.text__bgQbm {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 300;
  min-width: 0;
}
.svg__awSEe {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: #535353;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 10px;
  display: none;
}
.freeBox__qAdqQ {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.freeBox__z2U9N {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__bj9Ii {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14.5px;
  min-width: 0;
}
.text___9U3VG {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 0px;
  min-width: 0;
  display: none;
}
.svg___91810 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: #535353;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 10px;
  display: none;
}
.freeBox__t47O9 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.freeBox__wy7Yw {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__hfGD {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14.5px;
  min-width: 0;
}
.text__iiqMq {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 300;
  min-width: 0;
  display: none;
}
.svg__zEedn {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: #535353;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 10px;
  display: none;
}
.freeBox__jzZuK {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px 8px 35px;
}
.freeBox__icyYb {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text___5NOh {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14.5px;
  min-width: 0;
}
.text__rqEu7 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 300;
  min-width: 0;
  display: none;
}
.svg__b8PFf {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: #535353;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 10px;
  display: none;
}
.freeBox__cAu1S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 999999;
  min-width: 0;
}
.freeBox__uLfyi {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 165px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  margin-top: 15px;
  flex-shrink: 0;
  border-radius: 10px;
  border-width: 1px;
  border-color: #d3d3d3;
}
.img__uTvLp {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 0%;
  width: 100%;
  height: 165px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-width: 0;
  flex-shrink: 0;
}
.img__uTvLp > picture > img {
  object-fit: cover;
  object-position: 50% 0%;
}
.text__ke58W {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 18px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: 15px;
}
.text__bwOf {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 40%;
  font-weight: 400;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: 5px;
  margin-bottom: 15px;
}
.freeBox__gawbR {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #000000;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 16px;
  border: 1px solid #f0f0f0;
}
.text__ol7An {
  animation: none;
  width: auto;
  height: auto;
  font-weight: 400;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-right: 8px;
}
.freeBox__r15Xg {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 19px;
  height: 19px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #404040;
  flex-shrink: 0;
  border-radius: 3px;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
}
.text___6KkGu {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #a2a2a2;
  font-size: 14.5px;
  font-weight: 400;
  margin-right: 0px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
