.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #f4f4f4;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.h1__nbauV {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  min-width: 0;
}
.h1__ksZbo {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  min-width: 0;
}
.svg__giDua {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 40px;
  height: 40px;
}
.nav:global(.__wab_instance) {
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 100000;
}
.section1Parent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom-style: none;
  border-bottom-width: 1px;
  background: #f4f4f4;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.section1Inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 10px;
  padding-bottom: 50px;
  background: none;
  min-width: 0;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1Inner {
    padding-top: 28px;
    padding-bottom: 45px;
    border-right-color: #d3d3d3;
    border-left-color: #d3d3d3;
    max-width: 85%;
  }
}
.hero1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero1 {
    display: flex;
    flex-direction: column;
    width: 82.5%;
    margin-bottom: 0px;
    column-gap: 0px;
  }
}
.pill {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: 0px 4px 16px 0px #0000000d;
  margin-bottom: 15px;
  border-radius: 30px;
  padding: 4px 10px;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .pill {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 13px;
  }
}
.svg__qiuQs {
  object-fit: cover;
  max-width: 100%;
  color: #f4f4f4;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__qiuQs {
    width: 11.5px;
    height: 11.5px;
    flex-shrink: 0;
  }
}
.text__pi61B {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
  line-height: 1.5;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pi61B {
    font-size: 11px;
  }
}
.h11 {
  width: 650px;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  color: #000000;
  font-weight: 500;
  line-height: 1.2;
  padding-top: 0px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h11 {
    font-size: 24px;
    text-align: center;
  }
}
.h21 {
  position: relative;
  height: auto;
  font-size: 19px;
  color: #272727;
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: center;
  font-family: var(--plasmic-font-geologica);
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 460px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h21 {
    margin-top: 20px;
    margin-bottom: 0px;
    max-width: 100%;
    font-size: 15px;
  }
}
.btn1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #000000;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 6px;
  padding: 4px 24px;
  border: 1px solid #f0f0f0;
}
.text__z4Igq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 14.5px;
  font-weight: 400;
  margin-right: 4px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__z4Igq {
    font-size: 13px;
  }
}
.freeBox__j9Rpq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 82.5%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-width: 0;
}
.freeBox__nMVy {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.mainContainer14 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  background: none;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 15px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainContainer14 {
    overflow: visible;
    max-width: 82.5%;
  }
}
.freeBox__edMOa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  min-width: 0;
}
.header18 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  border-radius: 10px;
}
.addedHeader10 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 130px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .addedHeader10 {
    width: 120px;
    flex-shrink: 0;
  }
}
.svg__hG0LJ {
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__hG0LJ {
    height: 14px;
  }
}
.text__tfN3W {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tfN3W {
    font-size: 12.5px;
  }
}
.ageHeader9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 110px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ageHeader9 {
    width: 95px;
    flex-shrink: 0;
  }
}
.svg__bn6FO {
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__bn6FO {
    height: 14px;
  }
}
.text__pFaga {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pFaga {
    font-size: 12.5px;
  }
}
.typeHeader9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px;
}
.svg__ysQAn {
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ysQAn {
    height: 14px;
  }
}
.text__jZz3Y {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jZz3Y {
    font-size: 12.5px;
  }
}
.nameHeader9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .nameHeader9 {
    width: 130px;
    flex-shrink: 0;
  }
}
.svg__z52Kd {
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__z52Kd {
    height: 14px;
  }
}
.text__iOerp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iOerp {
    font-size: 12.5px;
  }
}
.phoneHeader9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .phoneHeader9 {
    width: 125px;
    flex-shrink: 0;
  }
}
.svg__aPutj {
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__aPutj {
    height: 14px;
  }
}
.text__e9GsE {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e9GsE {
    font-size: 12.5px;
  }
}
.emailHeader9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .emailHeader9 {
    width: 150px;
    flex-shrink: 0;
  }
}
.svg__nyAbi {
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__nyAbi {
    height: 14px;
  }
}
.text___19Cx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___19Cx {
    font-size: 12.5px;
  }
}
.locationHeader9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 170px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .locationHeader9 {
    width: 140px;
    flex-shrink: 0;
  }
}
.svg__pmPg0 {
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__pmPg0 {
    height: 14px;
  }
}
.text__imRo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__imRo {
    font-size: 12.5px;
  }
}
.data6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
}
.addedRow19 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 130px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .addedRow19 {
    width: 120px;
    flex-shrink: 0;
  }
}
.svg__rOuTb {
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__rOuTb {
    height: 14px;
  }
}
.text__pjXx9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pjXx9 {
    font-size: 12.5px;
  }
}
.ageRow19 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 110px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ageRow19 {
    width: 95px;
    flex-shrink: 0;
  }
}
.freeBox__lEUw8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  min-width: 0;
  border-radius: 20px;
  border: 1px solid #d3d3d3;
}
.freeBox__vVFa {
  display: flex;
  flex-direction: column;
  width: 10px;
  height: 10px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-CtFh2MllxTKM);
  margin-right: 5px;
  flex-shrink: 0;
  border-radius: 100px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vVFa {
    width: 7px;
    height: 7px;
    flex-shrink: 0;
  }
}
.text__tHkXy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12.5px;
  font-family: var(--plasmic-font-geologica);
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tHkXy {
    font-size: 11px;
  }
}
.typeRow19 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 8px 16px;
}
.text__o3Paj {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  text-align: left;
  font-size: 14.5px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__o3Paj {
    text-align: left;
    font-size: 14.5px;
  }
}
.text__hcGAx {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hcGAx {
    text-align: left;
    font-size: 14.5px;
  }
}
.nameRow19 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 8px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .nameRow19 {
    width: 130px;
    flex-shrink: 0;
  }
}
.text__f39Qm {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  text-align: left;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__f39Qm {
    text-align: left;
    font-size: 12.5px;
  }
}
.phoneRow19 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 165px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 8px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .phoneRow19 {
    width: 125px;
    flex-shrink: 0;
  }
}
.text__jfQn4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  text-align: left;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jfQn4 {
    text-align: left;
    font-size: 12.5px;
  }
}
.emailRow19 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 170px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 8px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .emailRow19 {
    width: 150px;
    flex-shrink: 0;
  }
}
.text__yJ3Aj {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  text-align: left;
  white-space: pre;
  text-overflow: clip;
  overflow: hidden;
  font-size: 14.5px;
  font-family: var(--plasmic-font-geologica);
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yJ3Aj {
    text-align: left;
    font-size: 12.5px;
  }
}
.locationRow19 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 170px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 8px 16px;
  border-left: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .locationRow19 {
    width: 140px;
    flex-shrink: 0;
  }
}
.text__w5FK4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  text-align: left;
  white-space: pre;
  text-overflow: clip;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__w5FK4 {
    text-align: left;
    font-size: 12.5px;
  }
}
.freeBox__fDe1Q {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fDe1Q {
    margin-bottom: 10px;
  }
}
.freeBox__jbwGk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 9.2%;
  height: 1px;
  justify-content: flex-start;
  align-items: center;
  background: #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jbwGk {
    width: 5%;
  }
}
.svg__ajEu5 {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 1em;
  margin: 0px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ajEu5 {
    margin-bottom: 0px;
  }
}
.freeBox__ltgmR {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 1px;
  justify-content: flex-start;
  align-items: center;
  background: #d3d3d3;
  width: 81%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ltgmR {
    width: 100%;
    min-width: 0;
  }
}
.svg___7LymQ {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 1em;
  margin: 0px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___7LymQ {
    margin-bottom: 0px;
    margin-left: 10px;
  }
}
.freeBox__ckZp9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 9.2%;
  height: 1px;
  justify-content: flex-start;
  align-items: center;
  background: #d3d3d3;
  flex-shrink: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ckZp9 {
    width: 5%;
  }
}
.shooters {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f4f4f4;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.svg__wfMiC {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 14px;
  flex-shrink: 0;
}
.svg___5PkdZ {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 14px;
  margin-left: -150px;
  flex-shrink: 0;
}
.svg__rnSf1 {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 14px;
  margin-left: 400px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__rnSf1 {
    margin-left: 280px;
  }
}
.svg__g5CiV {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 14px;
  margin-left: 550px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__g5CiV {
    margin-left: 200px;
  }
}
.svg__fk8TM {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 14px;
  margin-left: -400px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__fk8TM {
    margin-left: -200px;
  }
}
.svg__nZmQq {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 14px;
  margin-left: -550px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__nZmQq {
    margin-left: -280px;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
}
.carouselSelectedItems:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.carouselBtnFunction {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 0px;
  height: 0px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
