.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f4f4f4;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__n12 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 55px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-bottom: 1px solid #d3d3d3;
}
.link__pPa4 {
  display: flex;
}
.svg___6XYwF {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  cursor: pointer;
  color: #000000;
  width: 66px;
  flex-shrink: 0;
}
.otp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.section1Parent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom-style: none;
  border-bottom-width: 1px;
  background: #f4f4f4;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.section1Inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  padding-top: 180px;
  margin-bottom: 10px;
  padding-bottom: 120px;
  background: none;
  min-width: 0;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1Inner {
    padding-top: 28px;
    padding-bottom: 45px;
    border-right-color: #d3d3d3;
    border-left-color: #d3d3d3;
    max-width: 85%;
  }
}
.step2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .step2 {
    display: flex;
    flex-direction: column;
    width: 82.5%;
    column-gap: 0px;
  }
}
.h1218 {
  width: 350px;
  height: auto;
  max-width: 100%;
  font-size: 25px;
  color: #000000;
  font-weight: 800;
  margin-right: 0px;
  line-height: 1.2;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1218 {
    font-size: 19px;
    text-align: center;
    margin-right: 0px;
  }
}
.freeBox__s9QBn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-right: 0px;
  min-width: 0;
}
.parentOtp17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45.8px;
  height: 45px;
  max-width: 100%;
  background: #f4f4f4;
  cursor: pointer;
  margin-right: 15px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .parentOtp17 {
    width: 38.1px;
    margin-right: 10px;
    flex-shrink: 0;
  }
}
.otp1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15px;
  height: 24px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f4f4f4;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.parentOtp18 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45.8px;
  height: 45px;
  max-width: 100%;
  background: #f4f4f4;
  cursor: pointer;
  margin-right: 15px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .parentOtp18 {
    width: 38.1px;
    flex-shrink: 0;
    margin: 0px 10px 0px 0px;
  }
}
.otp2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15px;
  height: 24px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f4f4f4;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.parentOtp19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45.8px;
  height: 45px;
  max-width: 100%;
  background: #f4f4f4;
  cursor: pointer;
  margin-right: 15px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .parentOtp19 {
    width: 38.1px;
    flex-shrink: 0;
    margin: 0px 10px 0px 0px;
  }
}
.otp3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15px;
  height: 24px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f4f4f4;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.parentOtp110 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45.8px;
  height: 45px;
  max-width: 100%;
  background: #f4f4f4;
  cursor: pointer;
  margin-right: 15px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .parentOtp110 {
    width: 38.1px;
    flex-shrink: 0;
    margin: 0px 10px 0px 0px;
  }
}
.otp4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15px;
  height: 24px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f4f4f4;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.parentOtp111 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45.8px;
  height: 45px;
  max-width: 100%;
  background: #f4f4f4;
  cursor: pointer;
  margin-right: 15px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .parentOtp111 {
    width: 38.1px;
    flex-shrink: 0;
    margin: 0px 10px 0px 0px;
  }
}
.otp5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15px;
  height: 24px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f4f4f4;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.parentOtp112 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45.8px;
  height: 45px;
  max-width: 100%;
  background: #f4f4f4;
  cursor: pointer;
  margin-right: 0px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .parentOtp112 {
    width: 38.1px;
    flex-shrink: 0;
    margin: 0px;
  }
}
.otp6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15px;
  height: 24px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f4f4f4;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.primaryctaStage27 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 45px;
  max-width: 100%;
  background: #000000;
  cursor: pointer;
  margin-top: 15px;
  flex-shrink: 0;
  border-radius: 6px;
  padding: 4px 24px;
  border: 1px solid #f0f0f0;
}
.text___1S3Uy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 14.5px;
  font-weight: 400;
  margin-right: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1S3Uy {
    font-size: 13px;
  }
}
.h2144 {
  position: relative;
  height: auto;
  font-size: 13.5px;
  color: #717171;
  margin-top: 31px;
  margin-bottom: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2144 {
    margin-top: 20px;
    max-width: 100%;
    font-size: 12px;
    margin-bottom: 0px;
  }
}
.link__twZ7S {
  color: #464646;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.step1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .step1 {
    display: flex;
    flex-direction: column;
    width: 82.5%;
    column-gap: 0px;
  }
}
.h1219 {
  width: 350px;
  height: auto;
  max-width: 100%;
  font-size: 25px;
  color: #000000;
  font-weight: 800;
  margin-right: 0px;
  line-height: 1.2;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1219 {
    font-size: 19px;
    text-align: center;
    margin-right: 0px;
  }
}
.h2139 {
  position: relative;
  height: auto;
  font-size: 19px;
  color: #272727;
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 460px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2139 {
    margin-top: 20px;
    margin-bottom: 0px;
    max-width: 100%;
    font-size: 15px;
  }
}
.primarycta61 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 350px;
  height: 45px;
  max-width: 100%;
  background: #f4f4f4;
  cursor: pointer;
  margin-bottom: 0px;
  margin-top: 30px;
  flex-shrink: 0;
  border-radius: 6px;
  padding: 0px 18px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .primarycta61 {
    width: 100%;
    min-width: 0;
  }
}
.svg__acSz4 {
  object-fit: cover;
  max-width: 100%;
  margin-right: 9px;
  margin-top: 2px;
  height: 1em;
}
.emailInput {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 24px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f4f4f4;
  min-width: 0;
  border-width: 1px;
  border-style: none;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.primaryctaStage28 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 45px;
  max-width: 100%;
  background: #000000;
  cursor: pointer;
  margin-top: 15px;
  flex-shrink: 0;
  border-radius: 6px;
  padding: 4px 24px;
  border: 1px solid #f0f0f0;
}
.text__h39Cw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 14.5px;
  font-weight: 400;
  margin-right: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__h39Cw {
    font-size: 13px;
  }
}
.svg___0Seu {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 11px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___0Seu {
    height: 11px;
  }
}
.h2146 {
  position: relative;
  height: auto;
  font-size: 19px;
  color: #272727;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 350px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2146 {
    margin-top: 20px;
    margin-bottom: 0px;
    max-width: 100%;
    font-size: 15px;
  }
}
.freeBox__u21TL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u21TL {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}
.h2145 {
  height: auto;
  font-size: 13.5px;
  color: #717171;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2145 {
    max-width: 100%;
    font-size: 12px;
  }
}
.h2147 {
  height: auto;
  font-size: 13.5px;
  color: #717171;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2147 {
    max-width: 100%;
    font-size: 12px;
  }
}
.freeBox___0Iwj6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0Iwj6 {
    margin-bottom: 10px;
  }
}
.freeBox__b0Ge4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 9.2%;
  height: 1px;
  justify-content: flex-start;
  align-items: center;
  background: #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b0Ge4 {
    width: 5%;
  }
}
.svg__rlPr {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 1em;
  margin: 0px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__rlPr {
    margin-bottom: 0px;
  }
}
.freeBox__xv0Hp {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 1px;
  justify-content: flex-start;
  align-items: center;
  background: #d3d3d3;
  width: 81%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xv0Hp {
    width: 100%;
    min-width: 0;
  }
}
.svg__tWSlj {
  object-fit: cover;
  max-width: 100%;
  color: #d3d3d3;
  height: 1em;
  margin: 0px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__tWSlj {
    margin-bottom: 0px;
    margin-left: 10px;
  }
}
.freeBox___6LAq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 9.2%;
  height: 1px;
  justify-content: flex-start;
  align-items: center;
  background: #d3d3d3;
  flex-shrink: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6LAq {
    width: 5%;
  }
}
.freeBox__oVKyu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 0px;
  margin-bottom: 30px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oVKyu {
    margin-bottom: 20px;
  }
}
.h2141 {
  position: relative;
  height: auto;
  font-size: 13.5px;
  color: #717171;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2141 {
    margin-top: 20px;
    margin-bottom: 0px;
    max-width: 100%;
    font-size: 12px;
  }
}
